/**
 * @file
 * CSS declarations for HFC Global module: HFC Global Complete Footer Block.
 */

.block-hfcglobal-complete-footer-block {
  color: #fff;
  background-color: #002d5b;
  font-size: 1rem;
}

.block-hfcglobal-complete-footer-block > .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-justify-content: center;
  justify-content: center;
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  padding: 1em;
}

.block-hfcglobal-complete-footer-block > .content > div {
  margin: 0 auto;
  padding: 0.5em;
}

.block-hfcglobal-complete-footer-block > .content > #complete-footer-copyright,
.block-hfcglobal-complete-footer-block > .content > #complete-footer-social {
  flex: 0 0 100%;
  width: 100%;
  text-align: center;
}

/* Move social up to top for mobile */

#complete-footer-social {
  order: 0;
}

#complete-footer-logo {
  order: 1;
}

#complete-footer-contact {
  order: 2;
}

#complete-footer-links {
  order: 3;
}

#complete-footer-hlc {
  order: 4;
}

#complete-footer-transparency {
  order: 5;
}

#complete-footer-copyright {
  order: 7;
}


.block-hfcglobal-complete-footer-block a,
.block-hfcglobal-complete-footer-block a:visited,
.block-hfcglobal-complete-footer-block ul.menu a,
.block-hfcglobal-complete-footer-block ul.menu a:visited {
  color: #fff;
  border-bottom: 1px solid #fff;
}

.block-hfcglobal-complete-footer-block a:hover,
.block-hfcglobal-complete-footer-block a:focus,
.block-hfcglobal-complete-footer-block ul.menu a:hover,
.block-hfcglobal-complete-footer-block ul.menu a:focus {
  color: #fff;
  border-bottom: 2px solid #fff;
  background-color: transparent;
}

.block-hfcglobal-complete-footer-block .no-link a,
.block-hfcglobal-complete-footer-block a.no-link {
  text-decoration: none;
  border: none;
}

.block-hfcglobal-complete-footer-block .no-link a:hover,
.block-hfcglobal-complete-footer-block .no-link a:focus,
.block-hfcglobal-complete-footer-block a.no-link:hover,
.block-hfcglobal-complete-footer-block a.no-link:focus {
  border: none;
  background-color: transparent;
}

#complete-footer-transparency img {
  height: 166px; /* to match HLC iframe */
}

#complete-footer-logo img {
  height: 175px;
}

#complete-footer-social ul {
  text-align: center;
}

#complete-footer-social ul li {
  display: inline-block;
}

#complete-footer-social ul li > a {
  display: block;
  overflow: hidden;
  width: 50px;
  height: 0;
  margin: 25px;
  padding: 50px 0 0;
  border-bottom: none;
  border-radius: 5px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/* Footer Contact Styles */

#complete-footer-contact .contact-border::after {
  display: block;
  width: 100%;
  height: 1px;
  margin: 5px 0;
  content: "";
}

/* Social Button Default */

#complete-footer-social ul li > a.social-fb {
  background-image: url("../images/socialbuttons/fbwhiteicon.svg");
}

#complete-footer-social ul li > a.social-insta {
  background-image: url("../images/socialbuttons/instawhiteicon.svg");
}

#complete-footer-social ul li > a.social-linkedin {
  background-image: url("../images/socialbuttons/linkedinwhiteicon.svg");
}

#complete-footer-social ul li > a.social-snap {
  background-image: url("../images/socialbuttons/snapwhiteicon.svg");
}

#complete-footer-social ul li > a.social-twitter {
  background-image: url("../images/socialbuttons/twitterwhiteicon.svg");
}

#complete-footer-social ul li > a.social-youtube {
  background-image: url("../images/socialbuttons/youtubewhiteicon.svg");
}

/* Social Button Hover */

#complete-footer-social ul li > a.social-fb:hover,
#complete-footer-social ul li > a.social-fb:focus {
  background-color: #3b5998;
}

#complete-footer-social ul li > a.social-insta:hover,
#complete-footer-social ul li > a.social-insta:focus {
  background-color: #d93175;
}

#complete-footer-social ul li > a.social-linkedin:hover,
#complete-footer-social ul li > a.social-linkedin:focus {
  background-color: #007bb5;
}

#complete-footer-social ul li > a.social-snap:hover,
#complete-footer-social ul li > a.social-snap:focus {
  background-color: #fffc00;
}

#complete-footer-social ul li > a.social-twitter:hover,
#complete-footer-social ul li > a.social-twitter:focus {
  background-color: #1da1f2;
}

#complete-footer-social ul li > a.social-youtube:hover,
#complete-footer-social ul li > a.social-youtube:focus {
  background-color: #f00;
}
@media only screen and (min-width: 700px) {

  .block-hfcglobal-complete-footer-block > .content > div {
    -webkit-flex: 0 0 33%;
    -ms-flex: 0 0 33%;
    flex: 0 0 33%;
    width: auto;
    min-height: 0;
    margin: 0;
    padding: 0.5em;
    -webkit-box-flex: 0 0 33%;
    -moz-box-flex: 0 0 33%;
  }

  /* reseting order on desktop */

  #complete-footer-social {
    order: 6;
  }
}
@media only screen and (min-width: 1000px) {

  .block-hfcglobal-complete-footer-block > .content {
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }

  .block-hfcglobal-complete-footer-block > .content > div {
    -webkit-box-flex: 0 0 20%;
    -moz-box-flex: 0 0 20%;
    -webkit-flex: 0 0 20%;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
  }
}
