/**
 * @file
 * hfcglobal.css
 */

/* Make the node edit form description fields stand out */

.node-form div.description,
.node-form .form-item div.description {
  padding: 2px 0 2px 4px;
  color: #000;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  background: #e3eeff;
}

.node-form div.description p,
.node-form .form-item div.description p {
  margin: 0 0 1em;
}

.field--type-boolean .form-type-checkbox label {
  font-weight: bold;
}

/* Stop Gin breaking background colors on unpublished paragraphs. */

.paragraph--unpublished .gin-layer-wrapper {
  background: inherit;
}
