/**
 * @file
 * CSS declarations for HFC Global module: HFC Global Small Footer Block.
 */

.block-hfcglobal-small-footer-block {
  color: #fff;
  background-color: #002d5b;
  font-size: 1rem;
}

.block-hfcglobal-small-footer-block > .content {
  padding: 0.5em;
  text-align: center;
}

.block-hfcglobal-small-footer-block a,
.block-hfcglobal-small-footer-block a:visited {
  color: #fff;
  border-bottom: 1px solid #fff;
}

.block-hfcglobal-small-footer-block a:hover,
.block-hfcglobal-small-footer-block a:focus {
  color: #fff;
  border-bottom: 2px solid #fff;
  background-color: transparent;
}
